@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

:root {
  --color-background-primary: black;
  --color-background-code: rgb(26, 26, 39);
  --color-text-primary: white;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-tertiary: rgb(196, 92, 236);
  --color-text-link: rgb(83, 143, 255);
  --color-text-negative: rgb(228, 34, 76);
  --color-divider: rgb(35, 32, 35);
  --color-scrollbar: white;

  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: 0.95em;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) var(--color-background-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

a {
  color: var(--color-text-link);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100vh;
}
