@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

:root {
  --color-toolbar-back: white;
  --color-toolbar-edge: none;
  --color-toolbar-title: black;
  --color-toolbar-button-back: rbg(0,0,0,0);
  --color-toolbar-button-logos: black;
  --color-toolbar-button-back-hover: black;
  --color-toolbar-button-logos-hover: white;
  --color-toolbar-button-edge: none;
  --color-toolbar-button-edge-hover: none;
  --color-toolbar-dropdown-back: white;
  --color-toolbar-dropdown-text: black;
  --color-toolbar-dropdown-edge: none;
  --color-toolbar-dropdown-shadow: none;
  --color-toolbar-hovernames-back: black;
  --color-toolbar-hovernames-text: white;
  --color-toolbar-hovernames-edge: none;
  --color-toolbar-slider-back: grey;
  --color-toolbar-slider-back-edge: none;
  --color-toolbar-slider-thumb: black;
  --color-toolbar-slider-thumb-edge: none;
  --color-toolbar-slider-back-hover: black;
  --color-toolbar-slider-back-edge-hover: none;
  --color-toolbar-slider-thumb-hover: grey;
  --color-toolbar-slider-thumb-edge-hover: none;
  --color-toolbar-charlimit: black;
  --color-toolbar-charlimit-over: magenta;
  --color-toolbar-charlimit-back: rbg(0,0,0,0);
  --color-toolbar-charlimit-over-back: rbg(0,0,0,0);
  --color-toolbar-input-text: black;
  --color-toolbar-input-back: rbg(0,0,0,0);
  --color-toolbar-input-edge: none;
  --color-toolbar-publish-button-text: black;
  --color-toolbar-publish-button-back: rbg(0,0,0,0);
  --color-toolbar-publish-button-edge: none;
  --color-toolbar-publish-button-text-hover: white;
  --color-toolbar-publish-button-back-hover: black;
  --color-toolbar-publish-button-edge-hover: none;
  --color-toolbar-sub-button-text:black;
  --color-toolbar-sub-button-back: rbg(0,0,0,0);
  --color-toolbar-sub-button-edge:none;
  --color-toolbar-sub-button-text-hover:white;
  --color-toolbar-sub-button-back-hover:black;
  --color-toolbar-sub-button-edge-hover:none;
  --color-toolbar-palette-text:black;
  --color-toolbar-palette-back:rbg(0,0,0,0);
  --color-toolbar-palette-text-hover:magenta;
  --color-toolbar-palette-back-hover:rbg(0,0,0,0);  
  --color-banner-line:1px solid white;
  --color-banner-mini:white;
  --color-banner-mini-edge:none;
  --color-banner-mini-hover:rgb(255,255,255,0.5);
  --color-banner-mini-back:rgb(0,0,0,0);
  --color-banner-mini-edge-hover:none;
  --color-banner-mini-back-hover:rgb(0,0,0,0);
  --color-banner-type:white;
  --color-banner-type-back:rgb(0,0,0,0);
  --color-banner-type-edge:none;
  --color-banner-type-hover:rgb(255,255,255,0.5);
  --color-banner-type-back-hover:rgb(0,0,0,0);
  --color-banner-type-edge-hover:none;
  --color-banner-type-select: black;
  --color-banner-type-select-back: white;
  --color-banner-type-select-back-edge:none;
  --color-banner-color:white;
  --color-banner-back:rgb(0,0,0,0);
  --color-banner-border:none;
  --color-banner-cursor:magenta;
  --color-banner-cursor-back:rgb(255,255,255,0.5);
  --color-banner-room-name:white;
  --color-terminal-back:rgb(0,0,0,0);
  --color-text-primary:white;
  --color-text-link: magenta;
  --color-chat-date: white;
  --color-chat-name: magenta;
  --color-chat-message: white;
  --color-chat-error: red;
  --color-charlimit: white;
  --color-charlimit-over: magenta;
  --color-input-text: white;
  --color-input-back: black;
  --color-input-back-edge: none; 
  --color-scrollbar-back: black;
  --color-scrollbar-thumb: white;
  --color-scrollbar-back-edge: none;
  --color-scrollbar-thumb-edge: none;
  --color-background-primary: black;
  --color-background-code: magenta;
  --color-divider: rgb(255,255,255,0.5);

  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: 0.95em;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) var(--color-background-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  outline-style: var(--color-scrollbar-thumb-edge);
  outline-color: var(--color-toolbar-thumb);
}

*::-webkit-scrollbar {
  background-color: var(--color-scrollbar-back);
  outline-style: var(--color-scrollbar-back-edge);
  outline-color: var(--color-toolbar-back);
  width: 7px;
}

a {
  color: var(--color-text-link);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100vh;
  text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.2), -0.4389924193300864px 0 1px rgba(255,0,80,0.1), 0 0 3px;
}

body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  z-index: 4;
  pointer-events: none;
  opacity: 0.27861;
}
body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 4;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
