@font-face {
  font-family: DOS16;
  src: url(../assets/ModernDOS8x16.ttf);
  font-size: 16px;
}

@font-face {
  font-family: DOS14;
  src: url(../assets/ModernDOS8x14.ttf);
  font-size: 14px;
}

#header {
  border-bottom: 1px solid rgb(35, 32, 35);
  display: flex;
  justify-content: flex-start;
}

#header-wrapper {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-rows: auto auto;
  gap: 1em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  width: auto;
}

#header-wrapper * {
  white-space: pre;
  word-break: keep-all;
  word-wrap: unset;
}

#header-wrapper .controls {
  position: fixed;
  right: 0.5em;
}

#mini_button {
  font-family: DOS16;
  font-size: 24px;
  cursor: pointer;
  color:rgb(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255);
  user-select: none;
}

#mini_button:hover {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

#banner-type {
  font-size: 16px;
  font-family: DOS16;
  letter-spacing: 0;
  margin-right: 1em;
  user-select: none;
  cursor: pointer;
}

#banner-type:hover {
  color: var(--color-text-tertiary);
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

#banner {
  line-height: 1;
}

#banner, #banner * {
  font-size: 16px;
  font-family: DOS16;
  letter-spacing: 0;
  user-select: none;
}

#banner > div {
  display: flex;
  line-height: 16px;
}

/* Individual character */
#banner span {
  display: inline-block;
  width: 8px;
  cursor: none;
}

#banner span:hover {
  color: var(--color-text-tertiary);
  background-color: rgba(255, 255, 255, 0.3);
}

#room-name {
  font-weight: 600;
}

#room-description {
  opacity: 0.7;
}

@media (max-width: 900px) {
  #banner, #banner * {
    font-size: 14px;
    font-family: DOS14;
    line-height: 12px;
  }
  
  #banner span {
    width: 7px;
  }
}

@media (max-width: 800px) {
  #banner, #banner * {
    font-size: 12px;
    font-family: DOS14;
    line-height: 10px;
  }
  
  #banner span {
    width: 6px;
  }
}

@media (max-width: 620px) {
  #banner, #banner * {
    font-size: 10px;
    font-family: DOS14;
    line-height: 9px;
  }
  
  #banner span {
    width: 5px;
  }
}

@media (max-width: 550px) {
  #banner, #banner * {
    font-size: 8px;
    font-family: DOS14;
    line-height: 7px;
  }
  
  #banner span {
    width: 4px;
  }
}

mark { 
  background-color: rgb(255, 255, 255);
  color: black;
}