#header {
  border-bottom: 1px solid rgb(35, 32, 35);
  display: flex;
  justify-content: flex-start;
}

#header-wrapper {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-rows: auto auto;
  gap: 1em;
  padding: 1em;
  width: auto;
}

#header-wrapper * {
  white-space: pre;
  word-break: keep-all;
  word-wrap: unset;
}

#banner {
  line-height: 1;
}

#room-name {
  font-weight: 600;
}

#room-description {
  opacity: 0.7;
}

@media (max-width: 910px) {
  #banner {
    font-size: 0.8em;
  }
}

@media (max-width: 710px) {
  #banner {
    font-size: 0.6em;
  }
}

@media (max-width: 510px) {
  #banner {
    display: none;
  }
}