#terminal {
  pointer-events: none;
  line-height: 1.5;
  overflow: auto;
  padding: 1em;
  overflow-x: hidden;
}

#terminal * {
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  pointer-events: all;
  display: inline;
  overflow-x: visible;
}

#terminal-input-container {
  pointer-events: none;
}

#terminal-input-container * {
  user-select: none;
}

#terminal-input-container div[contenteditable] {
  outline: none;
  pointer-events: all;
  user-select: initial;
}

.chat-message {
  color: rgba(255, 255, 255, 0.6);
}

#terminal img {
  max-width: 50vmin;
  max-height: 50vmin;
  object-fit: contain;
  object-position: left top;
  margin-top: 0.5em;
}

#terminal > * {
  padding: 0.4em 0;
  display: block;
}

#terminal > *:first-child {
  padding-top: 0;
} 

#terminal > *:last-child {
  padding-bottom: 0.75em;
} 

#terminal > *:not(:last-child) {
  border-bottom: 1px solid rgb(35, 32, 35);
} 
