#terminal {
  /* pointer-events: none; */
  line-height: 1.5;
  overflow: scroll;
  padding: 1em;
  overflow-x: hidden;
  background-color: var(--color-terminal-back);
}
@supports (-moz-appearance:none) {
  #terminal {
    height:50%;
  }
}

#terminal * {
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  pointer-events: all;
  display: inline;
}

#terminal-input-container {
  pointer-events: none;
  color: var(--color-input-text);
  background-color: var(--color-input-back);
  outline-style: var(--color-input-back-edge);
  outline-color: var(--color-input-back);
}

#terminal-input-container * {
  user-select: none;
}

#terminal-input-container > span {
  display: inline-block;
}

#terminal-input-container div[contenteditable] {
  outline: none;
  pointer-events: all;
  user-select: initial;
  display: inline;
}

#terminal-input-container .char-limit {
  color: var(--color-charlimit);
  float: right;
}

#terminal-input-container .char-limit.invalid {
  color: var(--color-charlimit-over);
}

.chat-message {
  color: var(--color-chat-message);
}

.chat-message .username {
  color: var(--color-chat-name);
}

.chat-message .date, .chat-message .username  {
  font-size: 0.9em;
}

.chat-message .date {
  color: var(--color-chat-date);
}

.error-message {
  color: var(--color-chat-error);
}

#terminal img {
  max-width: 50vmin;
  max-height: 50vmin;
  object-fit: contain;
  object-position: left top;
  margin-top: 0.5em;
  display: block;
}

#terminal > * {
  padding: 0.4em 0;
  display: block;
}

#terminal > *:first-child {
  padding-top: 0;
} 

#terminal > *:last-child {
  padding-bottom: 0.75em;
} 

#terminal > *:not(:last-child) {
  border-bottom: 1px solid var(--color-divider);
} 

