.npc_icon span span {
  display: inline-block;
  width: 8px;
  cursor: none;
  transition: background-color 1s cubic-bezier(0.075, 0.9, 0.1, 0.075);
  pointer-events: auto;
}
.npc_icon span span:hover {
  color: var(--color-npc-cursor-text);
  background-color: var(--color-npc-cursor-back);
  transition: background-color 0.25s;
}
.npc_name {
  color: var(--color-npc-name-text);
  background-color: var(--color-npc-name-back);

}
.npc_message {
  color: var(--color-npc-message-text);
  background-color: var(--color-npc-message-back);

}
.npc_phrase {
  background-color: var(--color-npc-phrase-back);
  border: var(--color-npc-phrase-border);

}
.npc_title {
  color: var(--color-npc-title-text);
  background-color: var(--color-npc-title-back);
  border: var(--color-npc-title-border);

}

#window {
  font-family: DOS16;
  position: absolute;
  z-index: 2;
  color: var(--color-window-text);
  background-color: var(--color-window-back);
  text-align: center;
  border: var(--color-window-border);
  transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  max-width:310px;
  min-width:100px;
  min-height:50px;
  height:fit-content;
  width: fit-content;
  text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.2), -0.4389924193300864px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  box-shadow: var(--color-window-shadow);
}

#windowheader {  
  cursor: grab;
  z-index: 3;
  background-color: var(--color-window-bar-back);
  color: var(--color-window-bar-text);
}
#windheader:active {
  cursor: grabbing;
}
#windowMessage{
  max-height: 200px;
  max-width: 300px;
  height:min-content;
  width:max-content;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
#close {
  float: right;
  cursor:pointer;
  pointer-events:auto;
}
#close:hover {
  background-color: red;
  color: white;
}

#menu {
  width: 150px;
  float:left;
}

.cluster{
  flex:auto;
}
.clustercontent{
  color: white;
  background-color: black;
  width:min-content;
  padding:1px;
  margin:1px;
  border-radius: 2px;
}